
$color-primary-dark: #3b208a;
$color-primary-light: #6741d9;
$color-primary-darker: #3e297e;
$color_white: #fff;

$color_grey_light_1:#f7f7f7;
$dark_grey: #777;
$black: #000;


$color_secondary_dark:#f96d00;
$color_secondary_light:#f8b400;

$color_tertiary_dark:#0b8457;
$color_tertiary_light:#4ef037;

$color_fourth_dark:#128494;
$color_fourth_light:#00b7c2;