
*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  font-size: 62.5%;

  @include respond(tab-land){
    font-size:56.25%;
  }

  @include respond(tab-port){
    font-size:50%;
  }
  
  @include respond(phone){
    font-size:50%;
  }
  
  @include respond(desktop){
    font-size:75%;
  }
}

body {
 box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

//Media queries

/*Break Points for media queries:

0-600px - phone only
600-900px - tabet potrait
900-1200px - tablet potrait
1200-1800px - desktop
1800px and above - large desktops */



