.navigation{

    &__checkbox{
        display: none;
    }

    &__button{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        background-color: $color-white;
        position: fixed;
        top:6rem;
        right: 6rem;
        z-index: 1200;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;

        @include respond(phone){
            top:4rem;
            right: 4rem;
            height: 6rem;
            width: 6rem;
          }

        &:active{
            transform: translateY(0.2rem);
        }
    }

    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1100;
        transition: all 0.8s cubic-bezier(0.85, 0, 0.15, 1);

        @include respond(phone){
            top: 4rem;
            right: 4rem;
          }
    }

    &__nav{
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1150;
        visibility: hidden;
        opacity:0;
        transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        
    }

    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }

    &__item{

        margin: 1rem;
    }

    &__link{

        &:link,
        &:visited{
            display:inline-block;
            padding: 1rem 2rem;
            font-size: 3rem;
            font-weight: 300;
            color: #fff; 
            text-transform: uppercase;
            background-image:linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 250%;
            transition: all 0.5s ease;
            border-radius: 5px;
        }

        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary-dark;
            transform: translateX(-1rem);
        }
    }

    // Checkbox hack
    &__checkbox:checked ~ &__background{
        transform: scale(100);
    }

    &__checkbox:checked ~ &__nav{
        opacity:1;
        width: 100%;
        visibility: visible;
    }

    &__icon{

        position: relative;
        margin-top: 3.4rem;
        transition: all 0.3s ease;

        
        @include respond(phone){
            margin-top: 3rem;
          }

        &,
        &::after,
        &::before{
            width: 3rem;
            height: 2px;
            background-color: $color-primary-dark;
            display: inline-block;
            
        }

        &::after,
        &::before{
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.3s ease;
        }

        &::after{
            top: -.8rem;
        }
        &::before{
            top: 0.8rem;
        }
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }

    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(230deg);
    }

    &__checkbox:checked + &__button &__icon::after{
        transform: rotate(-230deg);
        top: 0;
    }
}